<a href="https://colab.research.google.com/github/apurvmishra99/PracticalAI/blob/master/01_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Python

<img src="https://raw.githubusercontent.com/GokuMohandas/practicalAI/master/images/logo.png" width=150>

In this lesson we will learn the basics of the Python programming language (version 3). We won't learn everything about Python but enough to do some basic machine learning.

<img src="https://raw.githubusercontent.com/GokuMohandas/practicalAI/master/images/python.png" width=350>

#  Variables

Variables are objects in Python that can hold anything with numbers or text. Let's look at how to create some variables.

In [1]:
# Numerical example
x = 3
print(x)

3

In [3]:
# Text example
x = "hello world"
print(x)

hello world

In [4]:
# Variables can be used with each other
a = 3
b = 6
c = a + b
print(c)

9

Variables can come in lots of different types. Even within numerical variables, you can have integers (int), floats (float), etc. All text based variables are of type string (str). We can see what type a variable is by printing its type.

In [5]:
# int variable
x = 7
print(x)
print(type(x))

# float variable
x = 6.9
print(x)
print(type(x))

# text variable
x = "33" 
print(x)
print(type(x))

# boolean variable
x = True
print(x)
print(type(x))

7
<class 'int'>
6.9
<class 'float'>
33
<class 'str'>
True
<class 'bool'>

It's good practice to know what types your variables are. When you want to use numerical operations on them, they need to be compatible.

In [6]:
# int variables
a = 3
b = 7
print(a + b)

# string variables
a = "3"
b = "1"
print(a + b)

10
31

#  Lists

Lists are objects in Python that can hold a ordered sequence of numbers **and** text.

In [7]:
# Creating a list
lst_x = [7, "world", 9]
print(lst_x)

[7, 'world', 9]

In [8]:
# Adding to a list
lst_x.append(1)
print(lst_x)

[7, 'world', 9, 1]

In [9]:
# Accessing items at specific location in a list
print("lst_x[0]: ", lst_x[0])
print("lst_x[1]: ", lst_x[1])
print("lst_x[2]: ", lst_x[2])
print("lst_x[-1]: ", lst_x[-1]) # the last item
print("lst_x[-2]: ", lst_x[-2]) # the second to last item

lst_x[0]:  7
lst_x[1]:  world
lst_x[2]:  9
lst_x[-1]:  1
lst_x[-2]:  9

In [10]:
# Slicing
print("lst_x[:]: ", lst_x[:])
print("lst_x[2:]: ", lst_x[2:])
print("lst_x[1:3]: ", lst_x[1:3])
print("lst_x[:-1]: ", lst_x[:-1])

lst_x[:]:  [7, 'world', 9, 1]
lst_x[2:]:  [9, 1]
lst_x[1:3]:  ['world', 9]
lst_x[:-1]:  [7, 'world', 9]

In [11]:
# Length of a list
len(lst_x)

4

In [13]:
# Replacing items in a list
lst_x[1] = "heya"
print(lst_x)

[7, 'heya', 9, 1]

In [15]:
# Combining lists
lst_y = [3.6, "doll"]
lst_z = lst_x + lst_y
print(lst_z)

[7, 'heya', 9, 1, 3.6, 'doll']

# Tuples

Tuples are also objects in Python that can hold data but you cannot replace their values (for this reason, tuples are called immutable, whereas lists are known as mutable).

In [16]:
# Creating a tuple
tuple_x = (5.0, "hello")
print(tuple_x)

(5.0, 'hello')

In [18]:
# Adding values to a tuple
tuple_x = tuple_x + (9.6,)
print(tuple_x)

(5.0, 'hello', 9.6, 9.6)

In [19]:
# Trying to change a tuples value (you can't)
tuple_x[1] = "world"

TypeError: ignored

# Dictionaries

Dictionaries are Python objects that hold key-value pairs. In the example dictionary below, the keys are the "name" and "eye_color" variables. They each have a value associated with them. A dictionary cannot have two of the same keys.

In [20]:
# Creating a dictionary
goku = {"name": "Goku",
        "eye_color": "brown"}
print (goku)
print (goku["name"])
print (goku["eye_color"])

{'name': 'Goku', 'eye_color': 'brown'}
Goku
brown

In [21]:
# Changing the value for a key
goku["eye_color"] = "green"
print (goku)

{'name': 'Goku', 'eye_color': 'green'}

In [22]:
# Adding new key-value pairs
goku["age"] = 24
print (goku)

{'name': 'Goku', 'eye_color': 'green', 'age': 24}

In [23]:
# Length of a dictionary
print (len(goku))

3

# If statements

You can use `if` statements to conditionally do something.

In [24]:
# If statement
x = 4
if x < 1:
    score = "low"
elif x <= 4:
    score = "medium"
else:
    score = "high"
print (score)

medium

In [25]:
# If statment with a boolean
x = True
if x:
    print ("it worked")

it worked

# Loops

In Python, you can use `for` loop to iterate over the elements of a sequence such as a list or tuple, or use `while` loop to do something repeatedly as long as a condition holds.

In [29]:
# For loop
x = 1
for i in range(3): # goes from i=0 to i=2
    x += 1 # same as x = x + 1
    print (f"i={i}, x={x}") # printing with multiple variables

i=0, x=2
i=1, x=3
i=2, x=4

In [30]:
# Loop through items in a list
x = 1
for i in [0, 1, 2]:
    x += 1
    print (f"i={i}, x={x}")

i=0, x=2
i=1, x=3
i=2, x=4

In [31]:
# While loop
x = 3
while x > 0:
    x -= 1 # same as x = x - 1
    print (x)

2
1
0

# Functions

Functions are a way to modularize reusable pieces of code.

In [32]:
# Create a function
def add_two(x):
    x += 2
    return x

# Use the function
score = 0
score = add_two(x=score)
print (score)

2

In [34]:
# Function with multiple inputs
def join_name(first_name, last_name):
    joined_name = first_name + " " + last_name
    return joined_name

# Use the function
first_name = "Apurv"
last_name = "Mishra"
joined_name = join_name(first_name=first_name, last_name=last_name)
print (joined_name)

Apurv Mishra

# Classes

Classes are a fundamental piece of object oriented programming in Python.

In [0]:
# Creating the class
class Pets(object):
  
    # Initialize the class
    def __init__(self, species, color, name):
        self.species = species
        self.color = color
        self.name = name

    # For printing  
    def __str__(self):
        return f"{self.color} {self.species} named {self.name}."
      
    # Example function
    def change_name(self, new_name):
        self.name = new_name

In [36]:
# Creating an instance of a class
my_dog = Pets(species="dog", color="orange", name="Guiness",)
print (my_dog)
print (my_dog.name)

orange dog named Guiness.
Guiness

In [37]:
# Using a class's function
my_dog.change_name(new_name="Charlie")
print (my_dog)
print (my_dog.name)

orange dog named Charlie.
Charlie

# Additional resources

This was a very quick look at Python and we'll be learning more in future lessons. If you want to learn more right now before diving into machine learning, check out this free course: [Free Python Course](https://www.codecademy.com/learn/learn-python)